# Only for Docker Deployment

BOT_TOKEN=8701318566:AAH1xo03PyBmHckQfCKmEJNmyj1att_YnaI # Get it from @botfather

API_ID=26149781

API_HASH=88313af84cc33ca52912459da2a78685
SESSION_STRING=your_session # Check Readme to generate sessions

USERBOT_PREFIX=userbot_prefix

SUDO_USERS_ID=6272165202 # Sudo users have full access to everythin, don't trust anyone

LOG_GROUP_ID=-1003795970699

GBAN_LOG_GROUP_ID=-1003795970699

MESSAGE_DUMP_CHAT=-1003795970699

WELCOME_DELAY_KICK_SEC=300 # Edit if u want

MONGO_URL=mongodb+srv://Moovieee:Aflahmmthhhh128544@cluster0.efyyavr.mongodb.net/?appName=Cluster0

ARQ_API_URL=https://arq.hamker.dev # Leave it like this

ARQ_API_KEY=your_api_key # Get it from @ARQRobot

LOG_MENTIONS=0 # Make it 1 if you want to enable it

RSS_DELAY=300 # In seconds

PM_PERMIT=1 # fill 0 to disable it
